.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 1rem;
}

.App-logo {
  height: 50vmin;
  margin-bottom: 1rem;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

code {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}
