# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip
chrome-extension/manifest.js

# env
**/.env.*
**/.env

# etc
.DS_Store
.idea
**/.turbo

# compiled
**/tailwind-output.css
