{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
