@import '@assets/style/theme.scss';

// CSS that can pollute global styles. Use it with caution.
// If you use ShodowRoot for style pollution, this style will not be applied inside the content script.
.content-view-style-may-be-not-working {
  font-size: 30px;
}
